<h1>Edit items!</h1>
<form action="/artist/update/{{id}}" method="post">
<label for="title" >Edit title:
  <input type = "text" name ="title" id="title" value="{{post.title}}">
</label>
<br>
<label for="title" >Edit category:
  <input type = "text" name ="title" id="title" value="{{post.category}}">
</label>
<br>
<label for="title" >Edit content:
  <input type = "text" name ="title" id="title" value="{{post.content}}">
</label>
<br>
<label for="title" >Edit media:
  <input type = "text" name ="title" id="title" value="{{post.media}}">
</label>
<br>
<label for="title" >Edit Thumbnail:
  <input type = "text" name ="title" id="title" value="{{post.Thumbnail}}">
</label>
<div><img src="{{post.media}}"></div><buton>post changes</buton>
<div></div>

</form>