<h1>{{post.title}}</h1>
<small>{{post.category}}</small>
<p>{{post.content}}</p>
<div><img src="{{post.media}}"></div>
{{#if owns}}
<div>
<a href="/auth/{{post.id}}/edit">Edit</a>
<form action="/auth/{{post.id}}/delete" method="POST">
  <button>Delete</button>
</form>
</div>
{{/if}}