<div class="maindash">
<h1>{{post.title}}</h1>
<h5>{{ownerID.user.name}}</h5>
<small><strong>{{post.ownerID.name}}</strong></small>
<br>
<small>{{post.category}}</small>
<p>{{post.content}}</p>
<div><img src="{{post.media}}" class="postmedia"></div>
{{#if owns}}
<div>
<a href="/auth/{{post.id}}/edit" class="editbtn">Edit</a>
<form action="/auth/{{post._id}}/delete" method="POST">
  <button class="deletebtn">Delete</button>
</form>
</div>
{{/if}}
</div>