<h1>{{post.title}}</h1>
<small>{{post.category}}</small>
<p>{{post.content}}</p>
<div><img src="{{post.media}}"></div>
{{!-- <div>{{post.media}}</div> --}}
{{#if owns}}
<div>
    <button>Edit</button>
    <button>Delete</button>
</div>
{{/if}}